page-filmes-detalhe {
    img.tamanho {
        width:  120px;
        height: 150px;
    }

    .alinhamento{
        text-align: left;
        vertical-align: auto;
    }

    .format{
        font-size: 1.2rem;
        color:darkblue;
    }
}
